<div class="row">
                <div class="profile-picAREA">
                    <img class="profile-pic" src="/assets/img/astro.JPG" alt="astro">
                </div>
                <div class="col-12">
                    <div class="container mainContent">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-AboutMe-tab" data-toggle="tab" href="#nav-AboutMe"
                                    role="tab" aria-controls="nav-home" aria-selected="true">About Me</a>
                                <a class="nav-item nav-link" id="nav-Work-tab" data-toggle="tab" href="#nav-Work"
                                    role="tab" aria-controls="nav-profile" aria-selected="false">Work</a>
                                <a class="nav-item nav-link" id="nav-Education-tab" data-toggle="tab" href="#nav-Education"
                                    role="tab" aria-controls="nav-contact" aria-selected="false">Education</a>                                
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-AboutMe" role="tabpanel"
                                aria-labelledby="nav-home-tab">

                                <p class="p">I have worked in the construction industry in one way or another since i was 15 years old. I got started when I needed a summer job and my neighbor's construction company needed some to come clean the sites. It was the hottest summer I had ever experienced but I was getting paid two dollars over minimum wage making me the richest of all my friends. i returned every summer until I graduated highschool and headed off for college. Mississippi State University, I took a job as a server thinking this would be a much easier job than what I was used to. I realized very soon that the one thing that was worse than being hot and outside was getting yelled at about food everyday. Needless to say, I headed back for refuge at the construction as soon as summer break began. </p>
                                <p class="p">I worked every summer break I had for a commercial construction company as a travelling assistant supervisor until I graduated. Upon graduating Mississippi State University with a degree in Finance and Risk Management, I was offered a full time position in the Brentwood, TN office to work as an Junior Project Manager. While there I assisted the Senior Project Managers with schedule material purchasing and integrating the company into a new paperless Construction Management Software called procore. We could not stop the operation to switch over so I had to run parellel with all of the Project Managers on the online system while they completed the tasked the old way. After I was confident in the new system we began the integration and my job responsibility switch from managing projects to training on the new software. With the resistance to technological changes from some of the older employees i managed to get everyone on task and they have learned to love it and have increased our productivity by an immesurable amount.</p>

                            </div>

                            <div class="tab-pane fade" id="nav-Work" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                            
                                <p class="p bold">Project Manager<span>
                                <p class="p italic">Martin Construction</p>
                                <br>
                                <p class="p bold">Assistant Project Manager</p>
                                <p class="p italic">The ArCon Group</p>
                                <br>
                                <p class="p bold">Team Leader</p>
                                <p class="p italic">South Inc</p>
                                <br>
                                <p class="p bold">Superintendent</p>
                                <p class="p italic">The ArCon Group</p>
                            </div>

                            <div class="tab-pane fade" id="nav-Education" role="tabpanel"
                                aria-labelledby="nav-contact-tab">

                                <p class="p bold">Mississippi State University</p>
                                <p class="p italic">Bachelors in Finance in Real Estate and Risk Managment</p>
                                <br>
                                <p class="p bold">Vanderbilt University</p>
                                <p class="p italic">Web Development Coding Bootcamp</p>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
