<div class="row">
                <H3>Portfolio</H3>                
                <div class="col-12">
                    <div class="container mainContent">
                        <img src="https://www.careergirls.org/wp-content/uploads/2015/06/Astronaut_1920x1080.jpg" class="img-fluid" alt="astro">
                        <h4>Project Title 1</h4>
                    </div>
                    <div class="container mainContent">
                        <img src="https://www.careergirls.org/wp-content/uploads/2015/06/Astronaut_1920x1080.jpg" class="img-fluid" alt="astro">
                        <h4>Project Title 2</h4>
                    </div>
                    <div class="container mainContent">
                        <img src="https://www.careergirls.org/wp-content/uploads/2015/06/Astronaut_1920x1080.jpg" class="img-fluid" alt="astro">
                        <h4>Project Title 3</h4>
                    </div>
                    <div class="container mainContent">
                        <img src="https://www.careergirls.org/wp-content/uploads/2015/06/Astronaut_1920x1080.jpg" class="img-fluid" alt="astro">
                        <h4>Project Title 4</h4>
                    </div>                    
                </div>
            </div>